* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.4rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: normal;
}
h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  color: white;
  background: #4c6e97;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background: #27394e;
}

.main-head {
  background: #131c27;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 3;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("./img/landing-page.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.hero h3 {
  padding: 5rem;
}

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(25, 25, 25, 0.3), transparent),
    url("./img/new-york-page.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.location-head {
  width: 90%;
  margin: auto;
}

#locations h2 {
  text-decoration: underline;
  padding: 1rem 0rem;
}

#locations h3 {
  padding: 4rem 0rem;
  background: linear-gradient(#131c27, #663b34);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.benefits-head {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #343c44;
  color: white;
  padding: 3rem;
}

.benefits h3 {
  padding: 1rem;
}

@media screen and (max-width: 950px) {
  html {
    font-size: 55%;
  }

  nav {
    text-align: center;
  }

  #logo {
    padding-bottom: 2rem;
    flex: 2 1 60rem;
  }
}
