* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.4rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: normal;
}
h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  color: white;
  background: #4c6e97;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background: #27394e;
}

button:focus {
  background: #343c44;
  outline: solid;
}

.main-head {
  background: #131c27;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 3;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("./img/landing-page.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.hero h3 {
  padding: 5rem;
}

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(25, 25, 25, 0.3), transparent),
    url("./img/new-york-page.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.location-head {
  width: 90%;
  margin: auto;
}

#locations h2 {
  text-decoration: underline;
  padding: 1rem 0rem;
}

#locations h3 {
  padding: 4rem 0rem;
  background: linear-gradient(#131c27, #663b34);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.cloud {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}

.cloud-2 {
  top: 20%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation 3.5s infinite alternate ease-in-out;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

.benefits-head {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #343c44;
  color: white;
  padding: 3rem;
}

#benefits h3 {
  padding: 1rem;
}

.cards {
  min-height: 60vh;
  width: 90%;
  margin: auto;
  padding: 8rem 4rem;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.card-icon {
  min-height: 10vh;
  background: #27394e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.card-icon img {
  height: 6vh;
}

.card {
  flex: 1 1 20rem;
  min-height: 20vh;
  margin: 4rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.card p,
h4 {
  margin: 2rem;
  line-height: 1.8;
}

#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(25, 25, 25, 0.3), transparent),
    url("/img/contact-mountain.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-section {
  border-radius: 2rem;
  width: 60%;
  background: rgba(19, 28, 39, 0.8);
  color: white;
}

.header-form {
  padding-top: 2rem;
}

.form-section button {
  width: 100%;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-top: 6rem;
}

.form-section input {
  margin: 3rem;
  padding: 1rem;
}

.footer {
  background: #27394e;
}

.footer-wrapper {
  width: 90%;
  margin: auto;
  min-height: 10vh;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 0;
}

.footer h3 {
  flex: 1 1 40rem;
  font-weight: bold;
}

.footer ul {
  flex: 1 1 40rem;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 950px) {
  html {
    font-size: 55%;
  }

  nav {
    text-align: center;
  }

  #logo {
    padding-bottom: 2rem;
    flex: 2 1 60rem;
  }

  #locations h3 {
    background: rgba(19, 28, 39, 0.9);
    -webkit-text-fill-color: white;
    text-align: center;
    margin-bottom: 2rem;
  }

  #locations h2 {
    text-align: center;
  }

  .cloud {
    height: 40rem;
  }

  .cloud-1 {
    z-index: -1;
  }

  .cloud-2 {
    z-index: -2;
  }

  .form-section {
    width: 100%;
  }

  .footer {
    text-align: center;
  }
}
